extends layout
block content
    h1= title
    #questions
        - each question in questions
            div.question
                br
                span.label Question :
                div.question= question.question
                br
                span.label Answers :
                div.answers= question.answers
                br
        a(href="/admin?action=new")!= "Add New Question"
        br
        a(href="/admin?action=remove")!= "Remove a Question"
